<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064897033130-dcevj4abmvaibc95oqbrsktjv1nftksl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064897033130-dcevj4abmvaibc95oqbrsktjv1nftksl</string>
	<key>API_KEY</key>
	<string>AIzaSyDc9xyDOJc6whRmNQC7y2pRLVV-oxDuJPs</string>
	<key>GCM_SENDER_ID</key>
	<string>1064897033130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cpp.team16</string>
	<key>PROJECT_ID</key>
	<string>team16-bd166</string>
	<key>STORAGE_BUCKET</key>
	<string>team16-bd166.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064897033130:ios:6f553a75860b2a53c9b1d3</string>
</dict>
</plist>